{% extends 'recipes/base.html' %}
{% load static %}
{% block title %}{% if form.instance.pk %}Изменить{% else %}Добавить{% endif %} Рецепт{% endblock %}
{% block content %}
<h1>{% if form.instance.pk %}Изменить{% else %}Добавить{% endif %} Рецепт</h1>
<form method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="row">
    <div class="col-md-6">
      {{ form.as_p }}
    </div>
    <div class="col-md-6">
      <img src="{% static "recipes/test.jpg" %}" class="img-fluid" alt="...">
    </div>
  </div>
  <button type="submit" class="btn btn-primary">{% if form.instance.pk %}Обновить{% else %}Создать{% endif %}</button>
</form>
<a href="{% url 'recipes:index' %}" class="btn btn-secondary">Отменить</a>
{% endblock %}
